
/* HW-1 */
/* TO-DO List */

.to-do-list-box {
  padding: 100px 20% 120px;
}

.headings-box h1 {
  font-weight: 200;
}

.headings-box p {
  font-weight: 600;
}

#buttons-block {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

#task-done-button {
  margin-top: -4px;
  margin-right: 15px;
}

#task-edit-button {
  margin-right: 5px;
  margin-top: -7px;
}

#task-done-button:hover, #task-edit-button:hover  {
  cursor: pointer;
}

#task-cancelled-button {
  border-radius: 8px;
}

#task-cancelled-button:hover {
  cursor: pointer;
  background-color: #FF7F7F;
}

.task-element {
  display: grid;
  grid-template-columns: 70% 30%;
  border-radius: 3px;
  background-color: white;
  padding: 10px;
  margin-bottom: 2px;
  overflow-wrap: break-word;
}

.edit-field-heading {
  background-color: #EFEFEF;
  padding: 10px;
  margin-top: 20px;
  border-radius: 3px;
}

.edit-field {
  margin-top: 3px;
  padding: 20px;
  border-radius: 3px;
  background-color: #F9F9F9;
}

.edit-field-body div {
  margin-top: 20px;
}

#task-description { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Input file design */

.input-file {
  position: relative;
  display: inline-block;
}

.input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #419152;
  line-height: 22px;
  height: 38px;
  padding: 8px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
  background-color: #59be6e;
}

.input-file:active span {
  background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
  background-color: #eee;
}